<div class="modal-header">
    <h1 class="modal-title">Start Interview for Report <strong>{{confirmationId}}</strong></h1>
</div>
<div class="modal-body">
	<p>Make sure the interviewer and scriber are both available, are you sure you want to start interview?</p>
	<p>some other logic here, eg. let the interviewer and scriber type in password.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="startItv()">Start Interview</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>